*{
    padding:0;margin:0;
}
/* tools */
.absol {
    position: absolute;
}
.rela {
    position: relative;
}
.inline {
    display: inline-block;
}
label>input{
    opacity: 0;
}
/* sidebar */
.side-active {
    /*background: #666;*/
    color: #4990e2 !important;
}
/*checkbox(复选框样式)*/
/*灰色边框*/
.simulated-box{
    width:15px;height:15px;border:1px solid #333;position:absolute;top:18px;background:#fff;
}
/*input复选框样式*/
input[type="checkbox"]:checked +:after{
    content: '';
    display: block;
    width: 6px;
    height: 9px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(227deg);
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    transform-origin: 5px 4px;
}
/*一些滑过样式*/
.simulated-box:hover {
    color:#00b3ee;border-color:#00b3ee !important;
}
.simulated-box:hover:after{
    color:#00b3ee !important;border-color:#00b3ee !important;
}
.strioke{
    height:100%;width:2px;background:#00b3ee;display:none;position:absolute;left:0;
}
/*----------------------------------component-base(构件库)----------------------------------------*/
.component-base{
    width:100%;
    height:auto;
}
.container-fluid{
    padding:0 !important;
    margin-left: 200px;margin-top:30px;border: 1px solid #f2f2f2;
}
/*.component-base component-logo(logo部分)*/
.component-base .component-logo{
    /*height:150px;*/
    /*background:red;*/
}
/*--- component-sys-close（系统最小化)----*/
.component-base .component-logo .component-sys-close{
    height:40px;
    background:#ddd;
}
.component-base .component-logo .component-sys-close .close-tool{
    float:right;
    line-height:40px;
}
.component-base .component-logo .component-sys-close .close-tool>span{
    padding:0 5px;
}
/*component-computer-logo*/
.component-base .component-computer-logo{
    height:80px;
    line-height:80px;padding:0 30px;background:#fff;clear:both;
    -webkit-box-shadow:  1px 5px 10px rgba(0,0,0,0.1); ;
    -moz-box-shadow:  1px 5px 10px rgba(0,0,0,0.1); ;
    box-shadow:  1px 5px 10px rgba(0,0,0,0.1);;
}
.component-computer-logo span{
    display:inline-block;float:left;width:272px;
}
.component-computer-logo span img{
    float:left;margin:11px 0 0;height:58px;
}
.component-computer-logo span h1{
    display: inline-block;
    float: left;
    margin-left: 23px;font-size:26px;line-height:35px;
}
/*.component-search(搜索框)*/
.component-computer-logo .component-search{
    height:100%;
}
.component-computer-logo .component-search form{
    width:350px;height:40px;line-height:80px;position:relative;margin: 22px 0 0 39px;float:right;position:relative;
}
.component-base .component-computer-logo form input{
    height: 100%;
    padding: 0 10px;vertical-align: top;
}
.component-base .search-btn{
    right:0;
    top:0px; background: #4990e2;
    height: 40px;
    width: 40px;border-top-right-radius: 5px;border-bottom-right-radius:5px;
}
.component-base .search-btn .icon-search{
    float:left;display:inline-block;vertical-align: middle;text-align:center;line-height:40px;margin:10px 0 0 10px;
}
.component-computer-logo form>img{
    width:20px;
    height:20px;
    position:absolute;
    right:10px;
    top:9px
}
/*---------------------------------------------main------------------------------------------------*/
.component-base article.componet-base-main{
    height:calc(100vh - 152px) ;
}
/*---------------------------------------------aside-------------------------------------*/
.component-base .main-siderbar .source>li{
    padding:0 20px;
}
.component-base .main-siderbar .ztree{
    padding-left: 15px;
}
.ztree li a.curSelectedNode{
    background-color: #f2f2f2;
    border: none;
}
.ztree li{
    line-height: 25px;
}
.component-base .componet-base-main aside.main-siderbar{
    width:200px;height:100%;float:left;font-size:14px;
}
.menus-childs{
    display:none;
}
.component-base .componet-base-main aside.main-siderbar>ul{
    height: auto;background:#f2f2f2;
}
.component-base .componet-base-main aside.main-siderbar>ul>p{
    height: 50px;
    color: #fff !important;
    text-align: center;
    background: #4990e2;
    line-height: 50px;
    font-size:16px;
}
.component-base .componet-base-main aside.main-siderbar>ul>li:hover{
    cursor:pointer;color:#4490e2;
}
.component-base .componet-base-main aside.main-siderbar>ul>li,.component-base .componet-base-main aside.main-siderbar>ul>li p{
    color:#333;line-height:40px;
}
.component-base .componet-base-main aside.main-siderbar>ul>li p{
    padding:0 20px ;position:relative;
}
.component-base .componet-base-main aside.main-siderbar>ul>li p b{
    float:right;margin-top:10px;
}

.component-base .componet-base-main aside.main-siderbar>ul >li p:hover{
    color:#4990e2 !important;cursor:pointer;
}
.component-base .componet-base-main aside.main-siderbar>ul>li>div p:hover{
    color:#4990e2;
}
.component-base .componet-base-main aside.main-siderbar>ul>li>div p{
    padding-left:30px !important;position:relative;
}
.component-base .componet-base-main aside.main-siderbar>ul>li>div p .strioke2{
    height:100%;width:2px;background:#00b3ee;display:none;position:absolute;left:0;
}

/*.component-btns左侧菜单按钮组*/
.component-base .component-btns>div{
    width: 145px;
    height: 45px;
    border-radius: 30px;
    text-align: left;
    line-height: 43px;
    color: #4990e2;margin: 15px 20px;font-size:14px;border:1px solid #4990e2;
}
.component-base .component-btns>div span{
    width: 24px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    background: url(../imgs/icon/icon-mainEle.png) no-repeat 0 0;
    float: left;
    margin-left: 21px;
    margin-top: 13px;
}

.component-base .component-btns>div:nth-child(1) .icon-tool{

    background-position-y: -116px;
}
.component-base .component-btns>div:nth-child(2) .icon-tool{
    background-position-y: -73px;
}
.component-base .component-btns>div:nth-child(3) .icon-tool{
    background-position-y: -152px ;height:26px;margin-top:7px;

}
/**/
.component-base .component-btns>div:hover{
    cursor:pointer; background:#4990e2;color:#fff;
}
.component-base .component-btns>div:nth-child(1):hover .icon-tool{
    background-position-y: -136px ;
}
.component-base .component-btns>div:nth-child(2):hover .icon-tool{
    background-position-y: -92px ;
}
.component-base .component-btns>div:nth-child(3):hover .icon-tool{
    background-position-y: -171px ;
}
/*--------------------------------------section(信息展示页面)------------------------------------------*/
.component-base .componet-base-main section .component-list{
   /* height:calc(100vh - 150px);*/background:#fff;height: calc(100vh - 214px );
    overflow: auto;
}
/*---------------------------------.component-filter-------------------------------------------------*/
.component-base .component-filter{
    padding: 0 8px 0 0px;position:relative;padding-right:0;
}
/*---------------------------------filter-status--------------------------------------*/
.component-base  .filter-ele{
    width:calc(100% - 186px);
}
/*选上去的筛选条件*/
.component-base .filter-status{
    background:#f2f2f2;
}
.component-base .filter-status .filter-ele {
    width:auto;margin-right:15px;
    display:inline-block;
}
.component-base .filter-status .filter-ele+span:hover{
    color:#8c8c8c;cursor:pointer;
}
.component-base .filter-status .filter-ele>div:first-child{
    margin-left:14px !important;   height: 30px;
    width: 86px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #C9C9C9;
}
.component-base .filter-status .filter-ele >div{
    display:inline-block;position:relative; height: 30px;width:86px;
    line-height:30px;

}
.component-base .filter-status .filter-ele .filter-trigger:not(.switch-filter){
    height: 30px;
    width: 86px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #C9C9C9;
    margin: 0 6px;
    position: absolute;
    /*margin-top: 8px;*/
    z-index: 150;
}
.component-base .filter-status .filter-ele .filter-trigger:not(.switch-filter) span{
    display: inline-block;
    width: 70%;
    text-align: center;
    margin:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.component-base .filter-status .filter-ele .switch-filter{
    width:350px;padding:0 10px;
    height: auto;
    border: 1px solid #000000;
    position: absolute;
    left: 6px;
    top: 32px;
    background: #fff;
    z-index: 1;
    margin: 0;display:none;
}
.component-base .filter-status .filter-ele .switch-filter div{width:auto;display:inline-block;padding:0 10px;}
.component-base .filter-status .filter-ele .switch-filter div:hover{
    color:red;
}
.component-base .filter-infoList>P{
    padding-left:14px;
}
/*--------------------------------------.component-filter(筛选条件的每一项)*/
.component-base .componet-base-main section .component-filter>div{
    line-height:50px;margin:0;
}
.component-base .componet-base-main section .component-filter>div>p{
    display:inline-block;vertical-align: top;color:#9A9A9A;
}
.component-base .componet-base-main section .component-filter .filter-condition{
    display:inline-block;
}

.component-base .componet-base-main section .component-filter .filter-condition>div{
    display:inline-block;
}
.component-base .componet-base-main section .component-filter .filter-condition .check-box{
   display:none;position:relative;margin-left:6px;float:left;
}
.component-base .componet-base-main section .component-filter{
    font-size:14px;border:1px solid #f2f2f2;
}
/*多选按钮组*/
.component-base .componet-base-main section .component-filter  .filter-condition .btns-item{
    width:100%;
    text-align:center;
    height:40px;
    line-height:40px;
    display:none;margin-bottom:20px;
}

.component-base .componet-base-main section .component-filter  .filter-condition  .btn-ok{
    display:none;
}
.component-base .componet-base-main section .component-filter .filter-ele span{
    height: 41px;
    width: 82px;
    display: inline-block;
    text-align: left;
    line-height: 30px;
    font-size:14px;
    float: left;
    margin: 12px 6px 0;
}
.component-base .componet-base-main section .component-filter .filter-ele span:hover{
    color:#00b3ee;border-color:#4990e2;
}
/*  filter-down*/
.component-base .filter-down{
    width: 98px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-top: none;
    position: absolute;
    left: 46%;
    /*margin-left: 28px;*/
    bottom: -30px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.component-base .filter-down:hover{
    color:#E5383C;
}
.component-base  .filter-brand{
    display:none;
}

.component-base .filter-status .filter-ele .type-filter:nth-of-type(4) .filter-trigger:hover{
    border-color:#E5383C;color:#E5383C;
}

.component-base .filter-status  .icon-close{
    width:15px;height:12px;display:inline-block;background:url(../imgs/icon/icon-mainEle.png) no-repeat -22px -19px;float:right;margin-top: 9px;
    margin-right: 10px;
}
.component-base .filter-status  .filter-closeStatus{
    color:#E5383C;
}
.component-base .filter-status  .filter-closeStatus:hover{
    color:#E5383C;border-color:#E5383C !important;
}
.component-base .filter-status  .filter-closeStatus:hover b{
    background-position-y:-29px;
}
/*.component-base  .filter-status:nth-child(3){

    content:"\2715";
}*/
.component-base  .filter-brand>p{
    padding-left:14px;
}
.component-base .filter-tool{
    float:right;
}
.component-base .filter-tool span{
    height: 30px;
    width: 76px;
    display: inline-block;
    line-height: 30px;
    border: 1px solid #C9C9C9;margin:0 6px;
}
.component-base .filter-tool span:nth-child(1){
    text-align:left;
}
.component-base .filter-tool span:nth-child(2){
    text-align:center;
}
.component-base .filter-tool span:nth-child(2) i{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.component-base .filter-tool span>b{
    font-size: 19px;
    float: left;
    margin-left: 12px;
}
.component-base .filter-tool  span:hover{
    color:#E5383C;border-color:#E5383C;
}
/*筛选下拉框*/
.component-base .glyphicon-menu-up{
    font-size:12px;
}
.component-base .glyphicon-menu-right{
    margin:0 0 0 10px;
}
/*.component-base .filter-status:nth-child(1):hover .glyphicon-menu-up{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}*/

/*--------------------------component-infoLIst*/
.component-base .component-info{
    margin-top: 44px;padding:0 14px 0 7px;
}
.component-base .component-info ul>li{
    float:left;width:270px;
    margin:0 0 10px 10px;position:relative;

}
.component-base .component-info ul>li:hover{
    -webkit-box-shadow: 5px 5px 7px rgba(0,0,0,0.5);  -moz-box-shadow:  5px 5px 7px rgba(0,0,0,0.5); box-shadow:  5px 5px 7px rgba(0,0,0,0.5);;
}
/*------------.preview-tool(详情显示)--------*/
.component-base .component-info ul>li:hover .preview-tool{
    display:block;
}
.component-base .component-info ul>li .preview-model{
    background:#f2f2f2;
}
/*---------------------.preview-big--------------------------*/
.component-base .component-info ul >li .preview-big{
    width:100%;
    height:270px;text-align:center;
}
.component-base .component-info ul >li .preview-big img{
    width:254px;
    height:254px;
    background:#fff;
    vertical-align: middle;
    display:inline-block;
}
/*----------------------------------.preview-big(居中)-----------*/
.component-base .component-info ul >li  .preview-big b{
    width:0%;
    height:100%;
    display:inline-block;
    vertical-align: middle;
}
/*---------------------preview-small---------------------*/
.component-base .component-info ul >li .preview-small{
    margin:5px 0 0 10px;padding:0 0 10px;
}

.component-base .component-info ul >li .preview-small span{
    width:50px;
    height:50px;
    display:inline-block;margin-right:10px;background:#fff;
}
.component-base .component-info ul >li .preview-small img{
    width:50px;
    height:50px;
    display:inline-block;
}
/*------------------------------描述信息-------------------*/
.component-base .component-info ul >li .preview-small+p{
     padding: 10px 0 15px 0;
     margin:0 10px;
 }
.component-base .component-info ul >li .preview-tool{
    height: 41px;line-height:40px;
    padding-left: 11px;
    display:none;position:absolute;width: 100%;background:#fff;border-top:1px solid #ddd;bottom: -41px;
    z-index: 1; -webkit-box-shadow: 5px 5px 7px rgba(0,0,0,0.5);  -moz-box-shadow:  5px 5px 7px rgba(0,0,0,0.5); box-shadow:  5px 5px 7px rgba(0,0,0,0.5);;

}
.component-base .component-info ul >li .preview-tool a{
    width: 49%;
    display: inline-block;
    text-align: left;
    border-right:1px solid #ddd ;
}
.component-base .component-info ul >li .preview-tool a:last-child{
    border:0;
}
.component-base .component-info ul >li .preview-tool a span{
    width:23px;
    height:16px;
    display:inline-block;background:url('../imgs/icon/icon-mainEle.png') no-repeat 0 0;float:left;margin-top:12px;
}
.component-base .component-info ul >li .preview-tool a:nth-child(1) .icon-describe{
    background-position-y:-1px
}
.component-base .component-info ul >li .preview-tool a:nth-child(2) .icon-describe{
    background-position-y:-18px;
    margin-left:30px;
}
.component-base .component-info ul >li .preview-tool a:last-child{
    border-right:0;
}
/*分页器*/
.component-base .pagination {
    float:left;margin:10px 0 0 6px;width:calc(100% - 230px);text-align:center;
}
.component-base .pagination div{
   display:inline-block;
}
.component-base .pagination+div{
    float:left;
}
.component-base .pagination div:nth-child(2){
    float:right;
}
.component-base .pagination  ul{
    width:auto;margin-right:10px;
}
.component-base .pagination  ul+span{
    margin: 18px 0 0 3px;
    float: left;
    font-size:14px;
}
.component-base .pagination-dump{
    margin:2px 0 0 1px;
}
.component-base .pagination-dump>p{
    height: 40px;
    line-height: 46px;
    font-size: 14px;
}
.component-base .pagination-dump>p input{
    width: 63px;
    height: 28px;padding:0 10px;
}
.pagination-dump button{
    margin-top: 7px;
    height: 28px;line-height:14px;
}
/*返回顶部*/
.return-top{
    position: absolute;
    bottom: 90px;
    right: 0px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background:#4990e2;border-color:#4990e2;
}