*{
    padding:0;margin:0;
}
.component-modal .modal-dialog .modal-content{
    width:600px;
    margin-left: 15%;
    margin-top:100px;
}
.component-modal .modal-dialog .modal-body .preview-model .preview-big>img{
    height:250px;width:250px;
}
.component-modal .modal-dialog .modal-body .preview-model .preview-small{
    margin-top:10px;
}
.component-modal .modal-dialog .modal-body .preview-model .preview-small span{
    margin:0 10px 0 0 ;
}
/*.component-modal .modal-dialog .modal-body .preview-model .preview-small span:hover{
    opacity:0.4;
}*/
.component-modal .modal-dialog .modal-body .preview-model .preview-small img{
    height:50px;width:50px;
}
/*modal-close*/
.modal-close{
    background:url('../imgs/icon-close.png') no-repeat 0 0;
    width:16px;
    height:20px;
    float:right;
}
/* modal-left(模态框左侧)*/
.component-modal .modal-dialog .modal-body .modal-left{
    width: 250px;
    display: inline-block;
}
/*modal-right(模态框右侧)*/
.component-modal .modal-dialog .modal-body .modal-right{
    width:250px;
    height: 340px;
    float: right;
    display:inline-block;
    /*padding-left:20px;*/
}
/*modal-modify(修饰线)*/
.component-modal .modal-dialog .modal-body .modal-right .modal-modify{
    margin:15px 0;
}
.modify-text{
    font-size:14px;
}
/*author-info*/
.author-info h2{
    margin:0 0 20px 0;
}
.author-info h4{
    font-size: 22px;
    margin-bottom:15px;
}
/*pro-info*/
.component-modal .modal-dialog .modal-body .modal-right .pro-info div >p{
    font-size: 14px;
    margin-bottom:10px;
}
.component-modal .modal-dialog .modal-body .modal-right .pro-info div >p:nth-child(2){
    display:inline-block;
}
/*footer*/
.btn-primary{
    width: 100px;
    /*background: gray;*/
    border-style: none;
}
.btn-warning{
    width:17%;
    border: 1px solid #4990e2;
    color: #4990e2;
    background-color: white;
}
.component-modal .modal-dialog  .btn-primary:hover{
    background:#8c8c8c!important;
}
.component-modal .modal-dialog  .btn-primary:active{
    background:#8c8c8c;border-style:none;
}