.upload{
    position: relative;
}
.upload .container-fluid h2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
}
.upload .component-list{
    height: calc(100vh - 265px) !important;
}
.upload .main, .upload .mainLeft{
    /*padding: 20px;*/
    /*padding-top: 0;*/
}
.upload .page-header {
    margin-top: 0;
}
.upload .table>thead>tr>th, .upload .table>tbody>tr>td{
    padding: 0;
    border-top: 1px solid #ddd;
    text-align: center!important;
    vertical-align: middle;
}
.upload .table>tbody>tr>td{
    height: 85px;
}
.upload .table>thead>tr>th,.upload .table>tbody>tr>td{
    width: 9%;
    height: 50px;
    border-bottom: none;
}
.upload .table>thead>tr>th:first-child,.upload .table>tbody>tr>td:first-child{
    width:11%;
}
.upload .table>thead>tr>th:last-child, .upload .table>tbody>tr>td:last-child{
    width:5% !important;
}
.upload .table tbody tr td:nth-last-child(2):hover, .upload .table tbody tr td:nth-last-child(3):hover{
    cursor: pointer;
}
.upload .table{
    border: 1px solid #ddd;
}
.upload .main-siderbar ul p,.upload .main-siderbar ul li{
    padding: 0 20px;
}
.upload .icon-fun{
    display: inline-block;
    width: 25px;
    height: 20px;
    background: url(../imgs/icon/icon-mainEle.png) no-repeat 0 -258px;
}
/*
    左侧菜单栏
*/
.upload .component-btns>div{
    width: 145px;
    height: 45px;
    border-radius: 30px;
    text-align: left;
    line-height: 43px;
    color: #4990e2;margin: 15px 20px;font-size:14px;border:1px solid #4990e2;
}
.upload .component-btns>div span{
    width: 24px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    background: url(../imgs/icon/icon-mainEle.png) no-repeat 0 0;
    float: left;
    margin-left: 21px;
    margin-top: 13px;
}
.upload .component-btns>div:nth-child(1) .icon-tool{
    background-position-y: -34px;
}
.upload .component-btns>div:nth-child(2) .icon-tool{
    background-position-y: -73px;
}
.upload .component-btns>div:nth-child(3) .icon-tool{
    background-position-y: -152px;height:26px;margin-top:7px;
}
.upload .component-btns>div:hover{
    cursor:pointer; background:#4990e2;color:#fff;
}
.upload .component-btns>div:nth-child(1):hover .icon-tool{
    background-position-y: -55px;
}
.upload .component-btns>div:nth-child(2):hover .icon-tool{
    background-position-y: -92px ;
}
.upload .component-btns>div:nth-child(3):hover .icon-tool{
    background-position-y: -171px ;
}
/*
    右侧大图模式与列表模式切换
*/
.upload .modelBtn{
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 10;
    padding: 2px;
}
.upload .modelBtnl{
    right: 6%;
    top: 163.5px;
    background-color: #d2d2d2;
}
.upload .modelBtnm{
    right: 4%;
    top: 163.5px;
    background-color: #4990e2;
}
.upload .large-pattern, .upload .listMode{
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url("../imgs/icon/icon-mainEle.png") no-repeat;
    background-color: #d2d2d2;
}
.upload .large-pattern{
    background-position-y: -237px;
    background-color: #d2d2d2;
}
.upload .listMode{
    background-position-y: -219.5px;
    background-color: #4990e2;
    z-index: 20;
}
