.upload .container-fluid h2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
}
.upload .main, .upload .mainLeft{
    padding: 20px;
    padding-top: 0;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.upload .main .page-header {
    margin-top: 0;
}
.upload .table>thead>tr>th, .upload .table>tbody>tr>td{
    border-top: 0;
}
.upload .main table tr th,.upload .main table tr td{
    height: 45px;
    padding: 0 4% 0 0;
    vertical-align: middle;
}
.upload .main table thead tr th{
    border-bottom: 0;
}
.upload .table>tbody>tr{
    border-top: 1px solid #ddd;
}
.upload .main .table tbody tr td:nth-last-child(2):hover, .upload .main .table tbody tr td:nth-last-child(3):hover{
    cursor: pointer;
}
.upload .large-pattern{
    display: inline-block;
    width: 24px;
    font-size: 24px;
    position: fixed;
    right: 4%;
    top:13.5%;
    z-index: 10;
}
.upload .listMode{
    display: inline-block;
    width: 24px;
    font-size: 24px;
    position: fixed;
    right: 2%;
    top:13.5%;
    z-index: 10;
}
.upload .table{
    border-bottom: 1px solid #ddd;
}
.upload .main-siderbar ul p,.upload .main-siderbar ul li{
    padding: 0 20px;
}
