.upload .container-fluid h2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
}
.upload .main, .upload .mainLeft{
    padding: 20px;
    margin-left: 12%;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.upload .main .page-header {
    margin-top: 0;
}
.upload .table>thead>tr>th, .upload .table>tbody>tr>td{
    border-top: 0;
}
.upload .main table tr th, .main table tr td{
    height: 45px;
    padding: 0 8px;
    vertical-align: middle;
}
.upload .main table thead tr th{
    border-top: 1px solid #ddd!important;
    border-bottom: 0;
}
.upload .table>tbody>tr{
    border-top: 1px solid #ddd;
}
.upload .main .table tbody tr td:nth-last-child(4):hover, .upload .main .table tbody tr td:nth-last-child(3):hover{
    cursor: pointer;
}
