<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="header clearfix">
			<div class="navbar-header user">
				<img src="./imgs/saber.jpg" alt="头像">
				<div class="inline">
					<div>贾吉祥</div>
					<div>上海鲁班软件有限公司</div>
				</div>
				<div class="inline"><span class="glyphicon glyphicon-chevron-down"></span></div>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#">协作管理</a></li>
				<li><a href="">资料动态</a></li>
			</ul>
		</div>
	</div>
</nav>