<div class=" component-sys-close" >
	<div class="close-tool">
		<span class="glyphicon glyphicon-minus"></span>
		<span class="glyphicon glyphicon-book"></span>
		<span class="glyphicon glyphicon-remove"></span>
	</div>
</div>
<div class="component-computer-logo  clearfix">
	<div class="col-xs-3">
		<span class="" ng-show=" $state.includes('audit')">
			<img src="imgs/audit.jpg">
			<h1 class="" >我的审核</h1>
		</span>
		<span class="" ng-show=" $state.includes('upload')">
			<img src="imgs/upload.png">
			<h1 class="" >我的上传</h1>
		</span>
		<span class="" ng-show=" $state.includes('component')">
			<img src="imgs/icon-cloud.jpg">
			<h1 class="">云构件库</h1>
		</span>

	</div>
	<div class="col-xs-9 component-search ">
		<form role="form">
			<input type="text" placeholder="输入构件名称" class="form-control col-xs-3">
			<div class="absol search-btn"><img src="imgs/icon/icon-search.png" alt="" class="icon-search"></div>
		</form>
	</div>
</div>