	<div class=" component-sys-close" >
		<div class="close-tool">
			<span class="glyphicon glyphicon-minus"></span>
			<span class="glyphicon glyphicon-book"></span>
			<span class="glyphicon glyphicon-remove"></span>
		</div>
	</div>
	<div class="component-computer-logo  clearfix">
		<div class="col-xs-3">
			<span class=""><img src="imgs/logo.png">  <h1 class="">云构件库</h1></span>
		</div>
		<div class="col-xs-8 component-search ">
			<form >
				<input type="text" placeholder="输入构件名称">
				<img src="imgs/logo.png" alt="">
			</form>
		</div>
	</div>
