<div>
    <div class="modal-header">
        <p class="modal-title modal-close" ng-click="cancel()" id="modal-title"></p>
    </div>
    <div class="modal-body" id="modal-body" >
        <ul class="clearfix modal-left" >
            <li>
                <div class="preview-model">
                    <div class="preview-big"><img ng-src={{componentDescr.previewSrc}}/><b></b></div>
                    <div class="preview-small">
                        <span ng-repeat="itemList in componentList" component-finish><img ng-src={{itemList.previewSrc}} alt=""/></span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="modal-right" >
            <div class="author-info">
                <h4>宜家中式双人沙发</h4>
                <h5>作者：版筑家装研发中心</h5>
                <h5>上传时间：2017.02.17</h5>
            </div>
            <div class="modal-modify">
                <p>-------------<span class="modify-text">构件详情</span>---------------</p>
            </div>
            <div class="pro-info">
                <div><p>大类：<span>软装</span></p><p>小类：<span>沙发</span></p></div>
                <div><p>尺寸：<span>2000*800*1200</span></p></div>
                <div><p>品牌：<span>版筑软件</span></p></div>
                <div><p>系列：<span>版筑软件</span></p></div>
                <div><p>规格：<span>版筑软件</span></p></div>
                <div><p>型号：<span>版筑软件</span></p></div>
            </div>
            <div class="modal-modify">
                <p>-------------<span class="modify-text">审核意见</span>---------------</p>
            </div>
            <div class="text" style="border: 1px solid black;width: 99%;height: 35%;background-color: #eeeeee;padding: 5px;">暂无</div>
        </div>
    </div>
</div>