<div>
    <div class="modal-header" style="border-bottom: none">
        <p class="modal-title modal-close" ng-click="cancel()" id="modal-title"></p>
    </div>
    <div class="modal-body" id="modal-body" style="height: 500px;">
        <ul class="clearfix modal-left" >
            <li>
                <div class="preview-model">
                    <div class="preview-big"><img ng-src={{componentDescr.previewSrc}}/><b></b></div>
                    <div class="preview-small">
                        <span ng-repeat="item in list.attachment track by $index" component-finish><img ng-show="item.fileType == 0 || item.fileType == 2 || item.fileType == 3 || item.fileType == 4 || item.fileType == 5" ng-src="{{item.displayUrl}}?name={{item.fileName}}"/></span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="modal-right" >
            <div class="author-info">
                <h4>{{list.componentDisplayName}}</h4>
                <h5>作者：{{list.author}}</h5>
                <h5>上传时间：{{list.uploadTime}}</h5>
                <h5 ng-show="list.originEpId != 0">来源企业： {{list.originEpName}}</h5>
                <h5 ng-show="list.originEpId == 0">所属企业: {{list.epName}}</h5>
            </div>
            <div class="modal-modify">
                <p>-------------<span class="modify-text">构件详情</span>---------------</p>
            </div>
            <div class="pro-info" style="height:210px;overflow-y: scroll;">
                <div><p>大类：<span>{{list.compClassName}}</span></p><p>小类：<span>{{list.subClassName}}</span></p></div>
                <div ng-repeat="item in otherList track by $index"><p>{{item.name}}：<span>{{item.value}}</span></p></div>
            </div>
            <div class="modal-modify">
                <p>-------------<span class="modify-text">审核意见</span>---------------</p>
            </div>
            <div class="text" style="border: 1px solid #ccc;border-radius:6px;width: 99%;height: 110px;background-color: #eeeeee;padding: 7px;">暂无</div>
        </div>
    </div>
    <div class="modal-footer" style="border-top: none;">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="item.status == 1">删除</button>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body"><h3>您确定要删除该构件吗？</h3></div>
            <div class="modal-footer" style="border-top: none">
                <button type="button" class="btn btn-primary" ng-click="delete()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>