<div class="modal-audit">
    <div class="modal-header">
        <p class="modal-title modal-close" ng-click="cancel()" id="modal-title"></p>
    </div>
    <div class="modal-body" id="modal-body" >
        <p>审核意见：</p>
        <div><textarea name="" id=""  style="width:100%;max-width:100%;height:517px;max-height:517px;"></textarea></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">应用</button>
        <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    </div>
</div>