<div >
    <div class="modal-header">
        <p class="modal-title modal-close" ng-click="cancel()" id="modal-title"></p>
    </div>
    <div class="modal-body" id="modal-body" >
        <ul class="clearfix modal-left" style="height: 340px;">
            <li>
                <div class="preview-model">
                    <div class="preview-big"><img ng-src={{item.displayUrl}}?name={{item.fileName}}/></div>
                    <div class="preview-small">
                        <span ng-repeat="item in list.attachment track by $index"><img ng-show="item.fileType == 0 || item.fileType == 2 || item.fileType == 3 || item.fileType == 4 || item.fileType == 5" ng-src="{{item.displayUrl}}?name={{item.fileName}}"/></span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="modal-right" >
            <div class="author-info">
                <h4>{{list.componentDisplayName}}</h4>
                <h5>作者：{{list.author}}</h5>
                <h5>上传时间：{{list.uploadTime}}</h5>
                <h5 ng-show="list.originEpId != 0">来源企业： {{list.originEpName}}</h5>
                <h5 ng-show="list.originEpId == 0">所属企业: {{list.epName}}</h5>
            </div>
            <div class="modal-modify">
                <p>-------------<span class="modify-text">构件详情</span>---------------</p>
            </div>
            <div class="pro-info" style="height:160px;overflow-y: scroll;">
                <div><p>大类：<span>{{list.compClassName}}</span></p><p>小类：<span>{{list.subClassName}}</span></p></div>
                <div ng-repeat="item in otherList track by $index"><p>{{item.name}}：<span>{{item.value}}</span></p></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-show="status == 0" ng-click="down(list.componentId)">下载</button>
        <button class="btn btn-primary" type="button" ng-show="status == 1" ng-click="down(list.componentId)">更新</button>
        <button class="btn btn-primary" type="button" ng-show="status == 2" ng-click="apply(list.subClassName,list.guid,list.epId,list.originEpId)">应用</button>
    </div>
</div>
<!--
<div class="progressWrap">
    <div class="progress progress-striped active">
        <div id="prog" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
            <span id="proglabel">正在启动，请稍后......</span>
        </div>
    </div>
</div>-->
