<div style="width:300px;line-height:40px;">2016年7月20 星期三</div>
<ul class="">
    <li>
        <a class="first-title" ng-click="a = !a">
            <span> 土建项目部1（30）</span>
        </a>
        <ul class="sub-nav" ng-show="a">
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
        </ul>
    </li>
    <li>
        <a class="first-title" ng-click="b = !b">
            <span> 土建项目部1（30）</span>
        </a>
        <ul class="sub-nav" ng-show="b">
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
        </ul>
    </li>
    <li>
        <a class="first-title" ng-click="c = !c">
            <span> 土建项目部1（30）</span>
        </a>
        <ul class="sub-nav" ng-show="c">
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
            <li><a ui-sref="#"> 土建项目部1（30）</a></li>
        </ul>
    </li>
</ul>
