<style>
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		vertical-align: middle;
		text-align: center;
	}
	.table>thead>tr>th {
	    vertical-align: bottom;
	    border-bottom: 0px solid #ddd;
	}
	.audit .simulated-box {
		top:3px;
	}
	.component-btns>div:nth-child(2) .icon-tool{
		background-position-y:-34px !important;
	}
	.component-btns>div:nth-child(2):hover .icon-tool{
		background-position-y:-55px !important;
	}
</style>  
<!--component-base构件库简写-->
<div class="component-base audit" side-style>
	<!--header 页面中的头部-->
	<header ng-include="'template/core/header.html'" class="component-logo"></header>
	<!---页面内容main-->
	<article class="componet-base-main">
		<!--main-siderbar(侧边栏)-->
		<aside class="main-siderbar">
			<ul>
				<p>审核状态</p>
				<li>
				<p class="menusName"><span class="strioke"></span>全部</p>
				<p class="menusName"><span class="strioke"></span>待审核</p>
				<p class="menusName"><span class="strioke"></span>已通过</p>
				<p class="menusName"><span class="strioke"></span>未通过</p>
			</li>
			</ul>
				<!--component-btns（侧边栏构件按钮组）-->
			<div class="component-btns">
				<div ui-sref="upload"><span class="icon-tool"></span>我的上传</div>
				<div ui-sref="component"><span class="icon-tool"></span>云构件库</div>
			</div>
		</aside>
		<!--component-container(右侧内容)-->
		<section class="container-fluid">
			<div class="rela tab-list">
				<!-- <div class="inline"><label class="rela invert-select" ng-click="invertSelected()"><input type="checkbox"><div class="simulated-box"></div></label><span>反选</span></div> -->
				<div class=""></div>
				<ul class="tab-list clearfix">
					<li ng-click="allSelected()">全选</li>
					<li ng-click="invertSelected()">反选</li>
					<li><span class="icon-updown"></span>下载</li>
					<li class="rela audit-status pop-signal">
						<!--<div class="pop-signal" ng-init="sum1 = 0" ng-click="sum1 = sum1 + 1" ng-model="sum1">{{sum1}}</div>-->
						<div class="pop-signal edit" ng-click="editAudit()">审核<span class="glyphicon glyphicon-menu-down pop-signal"></span></div>
						<ul ng-show="flag.auditStatus" class="pop-signal">
							<li class="pop-signal" ng-click="getAuditList('pass',0)">已通过</li>
							<li class="pop-signal" ng-click="getAuditList('noPass',0)">未通过</li>
						</ul>
					</li>
				</ul>
				<div class="count-overview ">共<b class="text-orange" >361</b>未审核</div>
			</div>
			<div class="table-list table-simulate">
				<table class="table" style="margin-bottom:0">
					<thead>
						<tr style="height:47px;">
							<th width="15%">
								<!-- <label class="rela all-selected"><input type="checkbox" ng-click="allSelected()"><div class="simulated-box"></div></div></label> -->
								<span>构件名称</span>
							</th>
							<th width="10%">大类</th>
							<th width="10%">小类</th>
							<th width="10%">品牌</th>
							<th width="10%">型号</th>
							<th width="5%" style="min-width:70px">图形</th>
							<th width="10%">作者</th>
							<th width="10%">审核状态</th>
							<th width="10%">审核意见</th>
							<th width="10%">上传时间</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="audit-list">
				<div class="table-list table-body">
					<table class="table">
						<tbody>
							<tr ng-repeat="item in auditList track by $index">
								<td width="15%">
									<label class="rela multi-choice">
										<input type="checkbox" ng-click="updateSelection($event, item)">
										<div class="simulated-box"></div>
									</label>
									<span >{{item.componentName}}</span>
								</td>
								<td width="10%">{{item.largeClass}}</td>
								<td width="10%">{{item.smallClass}}</td>
								<td width="10%">{{item.brand}}</td>
								<td width="10%">{{item.model}}</td>
								<td width="5%" style="min-width:70px;"><img ng-src="{{item.picture}}" alt=""></td>
								<td width="10%">{{item.author}}</td>
								<td width="10%" style="position: relative" ng-click="listStatus = !listStatus;tableStatus()">
									<div class="tdStatus">{{item.status}}<span class="glyphicon glyphicon-menu-down pop-signal"></span></div>
									<ul class="pop-signal" ng-show="listStatus" style="width: 87%;font-size: 16px">
										<li class="pop-signal" ng-click="getAuditList('pass',0)">已通过</li>
										<li class="pop-signal" ng-click="getAuditList('noPass',0)">未通过</li>
									</ul>
								</td>
								<td width="10%" ng-click="showModal()"><span class="icon-sign"></span></td>
								<td width="10%">{{item.updateTime}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="pagination">
				<div class="clearfix">
					<ul uib-pagination total-items="bigTotalItems" force-ellipses="true" ng-model="currentPage" first-text="首页"  last-text="尾页" previous-text="上一页"  next-text="下一页" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
					<span>共 {{numPages}} 页 </span>
					<div class="pagination-dump">
						<p class="dump-inp inline"> ,  跳转到   <input type="text" class="form-control inline"> </p>
						<button type="button " class="inline btn btn-default btn-sm" ng-click="getDumpOk()">确定</button>
					</div>
				</div>


			</div>
		</section>
	</article>
	<div class="return-top" ng-click="reTop()"><img src="imgs/icon/icon-top.jpg" alt=""></div>
</div>
