<style>
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		vertical-align: middle;
		text-align: center;
	}
	.table>thead>tr>th {
	    vertical-align: bottom;
	    border-bottom: 0px solid #ddd;
	}
	.audit .simulated-box {
		top:3px;
	}
</style>
<!--component-base构件库简写-->
<div class="component-base audit" side-style>
	<!--header 页面中的头部-->
	<header ng-include="'template/core/header.html'" class="component-logo"></header>
	<!---页面内容main-->
	<article class="componet-base-main">
		<!--main-siderbar(侧边栏)-->
		<aside side-style ng-include="'template/core/sidebar.html'" class="main-siderbar" ng-controller="auditCtrl"></aside>
		<!--component-container(右侧内容)-->
		<section class="container-fluid">
			<div class="rela tab-list">
				<!-- <div class="inline"><label class="rela invert-select" ng-click="invertSelected()"><input type="checkbox"><div class="simulated-box"></div></label><span>反选</span></div> -->
				<div class=""></div>
				<ul class="tab-list clearfix">
					<li ng-click="allSelected()">全选</li>
					<li ng-click="invertSelected()">反选</li>
					<li>下载</li>
					<li class="rela audit-status pop-signal">
						<div class="pop-signal" ng-click="auditStatusShow()">审核<span class="glyphicon glyphicon-chevron-up pop-signal"></span></div>
						<ul ng-show="flag.auditStatus" class="pop-signal">
							<li class="pop-signal" ng-click="getAuditList('pass',0)">审核通过</li>
							<li class="pop-signal" ng-click="getAuditList('noPass',0)">审核不通过</li>
						</ul>
					</li>
				</ul>
				<div class="count-overview">共361未审核</div>
			</div>
			<div class="table-list table-simulate">
				<table class="table" style="margin-bottom:0">
					<thead>
						<tr style="height:47px;">
							<th width="10%">
								<!-- <label class="rela all-selected"><input type="checkbox" ng-click="allSelected()"><div class="simulated-box"></div></div></label> -->
								<span>构件名称</span>
							</th>
							<th width="10%">大类</th>
							<th width="10%">小类</th>
							<th width="10%">品牌</th>
							<th width="10%">型号</th>
							<th width="10%">图形</th>
							<th width="10%">作者</th>
							<th width="10%">审核状态</th>
							<th width="10%">审核意见</th>
							<th width="10%">上传时间</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="audit-list">
				<div class="table-list table-body">
					<table class="table">
						<tbody>
							<tr ng-repeat="item in auditList track by $index">
								<td width="10%">
									<label class="rela multi-choice">
										<input type="checkbox" ng-click="updateSelection($event, item)">
										<div class="simulated-box"></div>
									</label>
									<span>{{item.componentName}}</span>
								</td>
								<td width="10%">{{item.largeClass}}</td>
								<td width="10%">{{item.smallClass}}</td>
								<td width="10%">{{item.brand}}</td>
								<td width="10%">{{item.model}}</td>
								<td width="10%"><img src="{{item.picture}}" alt=""></td>
								<td width="10%">{{item.author}}</td>
								<td width="10%">{{item.status}}</td>
								<td width="10%" ng-click="showModal()"><span class="glyphicon glyphicon-pencil"></span></td>
								<td width="10%">{{item.updateTime}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="pagination">
				<div class="clearfix">
					<ul uib-pagination total-items="bigTotalItems" force-ellipses="true" ng-model="currentPage" first-text="首页"  last-text="尾页" previous-text="上一页"  next-text="下一页" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
					<span>共 {{numPages}} 页 </span>
				</div>

				<div class="pagination-dump">
					<p class="dump-inp">跳转  <input type="text">  页</p>
					<button type="button" ng-click="getDumpOk()">确定</button>
				</div>
			</div>
		</section>
	</article>
	<div class="return-top" ng-click="reTop()"><img src="imgs/icon/top.png" alt=""></div>
</div>
