<style>
    .uploadCom-modal{
        font-size: 12px;
    }
    .uploadCom-modal .modal-lg{
        width: 680px;
    }
     .uploadCom-modal .modal-content{
        overflow: hidden;
         background-color: transparent;
         margin-top: 20%;
    }
    .uploadCom-modal .modal-header{
        border-bottom: none;
    }
    .uploadCom-modal .uploadCom, .uploadCom-modal .uploadComSet{
        float: left;
        width: 49%;
        background-color: #fff;
        border-radius: 6px;
    }
    .uploadCom-modal .uploadComSet{
        margin-left: 2%;
        display: none;
    }
    .uploadCom-modal .modal-left{
        width: 100%;
    }
    .ztree{
        width: 100%;;
        height:320px;
        overflow-y: scroll;
        overflow-x: scroll;
        border: 1px solid #ccc;
    }
    .uploadCom-modal .modal-header span{
        display: inline-block;
        width: 22px;
        height: 20px;
        background: url(imgs/tool.png) no-repeat;
        margin-left: 85%;
    }
    .uploadCom-modal .modal-header .max{
        background-position: -60px 0;
    }
    .uploadCom-modal .modal-header .max:hover{
        background-position: -60px -29px;
    }
    .uploadCom-modal .modal-header .revert{
        background-position: -149px 0;
    }
    .uploadCom-modal .modal-header .revert:hover{
        background-position: -149px -29px;
    }
    .uploadCom-modal .con{
        font-size: 14px;
        padding-left: 7%;
    }
    #container{
        position: fixed;
        top:55%;
        left:16%;
    }
    .proText{
        width: 300px;
        position: absolute;
        left: 249px;
        top: 25%;
    }
    .proText p{
        height:30px;
        line-height: 30px;
    }
    .proBtn{
        width: 100px;
        text-align: center;
        line-height: 50px;
        background: #4990e2;
        position: relative;
        left: 530px;
        top: 266px;
        color: white;
        border-right:6px;
    }
    .proBtn:hover{
        background: #8c8c8c;
    }
    .progressWrap .proModal{
        width: 200px;
        height: 100px;
        position: fixed;
        left: 40%;
        top: 30%;
        background: rgba(0,0,0,0.5);
    }
    .progressWrap .proModal
</style>
<div>
    <div class="uploadCom">
        <div class="modal-header">
            <p class="modal-title modal-close" ng-click="cancel()"></p>
            <span class="max" ng-click="max()" ng-show="status == 0"></span>
            <span class="revert" ng-click="revert()" ng-show="status == 1"></span>
        </div>
        <p class="con">选择上传构件</p>
        <div class="modal-body" style="height: 350px;">
            <div class="clearfix modal-left zTreeDemoBackground left">
                <ul id="treeLeft" class="ztree"></ul>
            </div>
            <p class="public" style="position: relative;top: 8%;font-size: 14px;"><input type="checkbox" checked="checked">公开到公共构件库</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="upload()">上传</button>
        </div>
    </div>
    <div class="uploadComSet" >
        <div class="modal-header">
            <p class="modal-title modal-close" ng-click="cancel()"></p>
            <span class="max" ng-click="maxSet()" ng-show="statusSet == 0"></span>
            <span class="revert" ng-click="revertSet()" ng-show="statusSet == 1"></span>
        </div>
        <p class="con">权限设置</p>
        <div class="modal-body" style="height: 350px;">
            <div class="clearfix modal-left zTreeDemoBackground left">
                <ul id="treeRight" class="ztree"></ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div class="progressWrap" style="display: none">
    <div class="proModal" style="display: none; width:400px;height: 270px; position: fixed;left: 40%;top: 70%;background: rgba(255,255,255,1);border: 3px solid #ccc">
        <div class="modal-header">
            <p class="modal-title modal-close" ng-click="btnCancel()"></p>
        </div>
        <div class="modal-body" style="height: 150px;"><h3>当前有构件正在上传，是否取消上传？</h3></div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="btnOk()">确定</button>
            <button class="btn btn-warning cancel" type="button" ng-click="btnCancel()">取消</button>
        </div>
    </div>
    <div class="progress progress-striped active">
        <div id="prog" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
            <span id="proglabel"></span>
        </div>
    </div>
    <div class="proText">
        <p ng-repeat="item in uploadStatus">{{item.name}}:{{item.status}}</p>
    </div>
    <div class="proBtn" ng-click="close()">关闭</div>
</div>

<script type="text/javascript" >
    var appElement = document.querySelector('[ng-controller=uploadComCtrl]');//获取$scope变量
    var $scope = angular.element(appElement).scope();
    //上传进度条函数
    function uploadProgress(currentNum,totals,name,status){
        var value = currentNum / totals;
        var text = value * 100 + "%";
        $(".progressWrap #prog").css("width",text);
        /* if(value == 1){
         return;
         }*/
        var objStatus = {
            name:name,
            status:status
        }
        var list = [];
        list.push(objStatus);
        for(var i = 0; i < list.length-1;i ++){
            for(var j = i+1;j < list.length;j++){
                if(list[i].name = list[j].name){
                    list.splice(j, 1);
                }
            }
        }
        $scope.uploadStatus = list;
        alert($scope.uploadStatusarr.join(','));
    }

//    uploadProgress(1,1,'我的构建',1);

    function jsExt()
    {
        alert("aaa");
    }


</script>



