<div >
    <div class="modal-header">
        <p class="modal-title modal-close" ng-click="cancel()" id="modal-title"></p>
    </div>
    <div class="modal-body" id="modal-body" >
        <div class="clearfix modal-left" >

        </div>
        <div class="modal-right" >

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">应用</button>
        <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    </div>
</div>