<style>
    .uploadCom-modal{
        font-size: 12px;
    }
    .uploadCom-modal .modal-lg{
        width: 680px;
    }
     .uploadCom-modal .modal-content{
        overflow: hidden;
         background-color: transparent;
         margin-top: 20%;
    }
    .uploadCom-modal .modal-header{
        border-bottom: none;
    }
    .uploadCom-modal .uploadCom, .uploadCom-modal .uploadComSet{
        float: left;
        width: 49%;
        background-color: #fff;
        border-radius: 6px;
    }
    .uploadCom-modal .uploadComSet{
        margin-left: 2%;
    }
    .uploadCom-modal .modal-left{
        width: 100%;
    }
    .ztree{
        width: 100%;;
        height:320px;
        overflow-y: scroll;
        overflow-x: scroll;
        border: 1px solid #ccc;
    }
    .uploadCom-modal .modal-header span{
        display: inline-block;
        width: 22px;
        height: 20px;
        background: url(imgs/tool.png) no-repeat;
        margin-left: 85%;
    }
    .uploadCom-modal .modal-header .max{
        background-position: -60px 0;
    }
    .uploadCom-modal .modal-header .max:hover{
        background-position: -60px -29px;
    }
    .uploadCom-modal .modal-header .revert{
        background-position: -149px 0;
    }
    .uploadCom-modal .modal-header .revert:hover{
        background-position: -149px -29px;
    }
    .uploadCom-modal .con{
        font-size: 14px;
        padding-left: 7%;
    }
    #container{
        position: fixed;
        top:55%;
        left:16%;
    }
</style>
<div>
    <div class="uploadCom">
        <div class="modal-header">
            <p class="modal-title modal-close" ng-click="cancel()"></p>
            <span class="max" ng-click="max()" ng-show="status == 0"></span>
            <span class="revert" ng-click="revert()" ng-show="status == 1"></span>
        </div>
        <p class="con">选择上传构件</p>
        <div class="modal-body" style="height: 350px;">
            <div class="clearfix modal-left zTreeDemoBackground left">
                <ul class="ztree"></ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">上传</button>
        </div>
    </div>
    <div class="uploadComSet">
        <div class="modal-header">
            <p class="modal-title modal-close" ng-click="cancel()"></p>
            <span class="max" ng-click="maxSet()" ng-show="statusSet == 0"></span>
            <span class="revert" ng-click="revertSet()" ng-show="statusSet == 1"></span>
        </div>
        <p class="con">权限设置</p>
        <div class="modal-body" style="height: 350px;">
            <div class="clearfix modal-left zTreeDemoBackground left">
                <ul class="ztree"></ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="container" style="display: none">
    <!-- Progress bar -->
    <div id="progress_bar" class="ui-progress-bar ui-container">
        <div class="ui-progress" style="width: 79%;">
            <span class="ui-label" style="display:none;">正在加载...<b class="value">79%</b></span>
        </div>
    </div>
    <p>上传{{currentNum}}/{{total}}</p>
    <!-- /Progress bar -->
    <div class="content" id="main_content" style="display: none;">
        <p>加载完成。</p>
    </div>
</div>
<script>

    function uploadProgress (currentNum,total){
        //显示滚动条
        $('#container').show();
        //动态改变当前个数
        if(total === currentNum){
            //隐藏滚动条
            $('#container').hide();
        }
    }
    (function( $ ){
        $.fn.animateProgress = function(progress, callback) {
            return this.each(function() {
                $(this).animate({
                    width: progress+'%'
                }, {
                    duration: 2000,

                    // swing or linear
                    easing: 'swing',

                    // this gets called every step of the animation, and updates the label
                    step: function( progress ){
                        var labelEl = $('.ui-label', this),
                                valueEl = $('.value', labelEl);

                        if (Math.ceil(progress) < 20 && $('.ui-label', this).is(":visible")) {
                            labelEl.hide();
                        }else{
                            if (labelEl.is(":hidden")) {
                                labelEl.fadeIn();
                            };
                        }

                        if (Math.ceil(progress) == 100) {
                            labelEl.text('完成');
                            setTimeout(function() {
                                labelEl.fadeOut();
                            }, 1000);
                        }else{
                            valueEl.text(Math.ceil(progress) + '%');
                        }
                    },
                    complete: function(scope, i, elem) {
                        if (callback) {
                            callback.call(this, i, elem );
                        };
                    }
                });
            });
        };
    })( jQuery );

    $(function() {
        // Hide the label at start
        $('#progress_bar .ui-progress .ui-label').hide();
        // Set initial value
        $('#progress_bar .ui-progress').css('width', '7%');

        // Simulate some progress
        $('#progress_bar .ui-progress').animateProgress(43, function() {
            $(this).animateProgress(79, function() {
                setTimeout(function() {
                    $('#progress_bar .ui-progress').animateProgress(100, function() {
                        $('#main_content').slideDown();
                        $('#fork_me').fadeIn();
                    });
                }, 2000);
            });
        });

    });
</script>