<div class="upload">
	<div class="container-fluid">
		<div class="row" style="position: relative;">
			<div class="col-sm-9 col-md-10 main">
				<div class="mainLeft" style="display: none;">
					<p>我是大图模式</p>
				</div>
				<div class="table-responsive">
					<table class="table ">
						<thead>
						<tr>
							<th>构件名称</th>
							<th>大类</th>
							<th>小类</th>
							<th>品牌</th>
							<th>型号</th>
							<th>图形</th>
							<th>审核状态</th>
							<th>审核意见</th>
							<th>上传时间</th>
							<th>
								<span class="glyphicon glyphicon-th largePattern" style="font-size: 30px"></span>
								<span class="glyphicon glyphicon-th-list listMode" style="font-size: 30px"></span>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>1,001</td>
							<td>Lorem</td>
							<td>ipsum</td>
							<td>dolor</td>
							<td>sit</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td class="btn-lg" data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
							<th></th>
						</tr>
						<tr>
							<td>1,002</td>
							<td>amet</td>
							<td>consectetur</td>
							<td>adipiscing</td>
							<td>elit</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
							<th></th>
						</tr>
						<tr>
							<td>1,003</td>
							<td>Integer</td>
							<td>nec</td>
							<td>odio</td>
							<td>Praesent</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
							<th></th>
						</tr>
						<tr>
							<td>1,003</td>
							<td>libero</td>
							<td>Sed</td>
							<td>cursus</td>
							<td>ante</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
							<th></th>
						</tr>
						<tr>
							<td>1,004</td>
							<td>dapibus</td>
							<td>diam</td>
							<td>Sed</td>
							<td>nisi</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,005</td>
							<td>Nulla</td>
							<td>quis</td>
							<td>sem</td>
							<td>at</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,006</td>
							<td>nibh</td>
							<td>elementum</td>
							<td>imperdiet</td>
							<td>Duis</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,007</td>
							<td>sagittis</td>
							<td>ipsum</td>
							<td>Praesent</td>
							<td>mauris</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,008</td>
							<td>Fusce</td>
							<td>nec</td>
							<td>tellus</td>
							<td>sed</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,009</td>
							<td>augue</td>
							<td>semper</td>
							<td>porta</td>
							<td>Mauris</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,010</td>
							<td>massa</td>
							<td>Vestibulum</td>
							<td>lacinia</td>
							<td>arcu</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,011</td>
							<td>eget</td>
							<td>nulla</td>
							<td>Class</td>
							<td>aptent</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,012</td>
							<td>taciti</td>
							<td>sociosqu</td>
							<td>ad</td>
							<td>litora</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,013</td>
							<td>torquent</td>
							<td>per</td>
							<td>conubia</td>
							<td>nostra</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,014</td>
							<td>per</td>
							<td>inceptos</td>
							<td>himenaeos</td>
							<td>Curabitur</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						<tr>
							<td>1,015</td>
							<td>sodales</td>
							<td>ligula</td>
							<td>in</td>
							<td>libero</td>
							<td>
								<span class="glyphicon glyphicon-picture" style="font-size: 30px"></span>
							</td>
							<td>待审核</td>
							<td>
								<span class="glyphicon glyphicon-edit" style="font-size: 30px"></span>
							</td>
							<td>2017/2/22</td>
						</tr>
						</tbody>
					</table>
					<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>