<div class="component-base upload"  side-style>
	<!-- 页面头部-->
	<header ng-include="'template/core/header.html'" class="component-logo"></header>
	<div ui-sref="largePattern" class="modelBtn modelBtnl">
		<span class="large-pattern"></span>
	</div>
	<div ui-sref="upload" class="modelBtn modelBtnm">
		<span class="listMode"></span>
	</div>

	<!-- 页面内容 -->
	<article class="componet-base-main">
		<!--main-siderbar(侧边栏)-->
		<aside class="main-siderbar">
			<!--侧边栏菜单-->
			<ul>
				<p>审核状态</p>
				<li class="menusName">全部</li>
				<li class="menusName">待审核</li>
				<li class="menusName">已通过</li>
				<li class="menusName">未通过</li>
			</ul>
			<!--component-btns（侧边栏构件按钮组）-->
			<div class="component-btns">
				<div ui-sref="component"><span class="icon-tool"></span>云构件库</div>
				<div ui-sref="upload"><span class="icon-tool"></span>上传构件</div>
				<div ui-sref="audit"><span class="icon-tool"></span>我的审核</div>
			</div>
		</aside>
		<!--component-container(右侧内容)-->
		<section class="container-fluid">
			<!--component-filter（构件筛选）-->
			<div class="component-list">

				<div class="component-info" style="margin-top: 0;">
					<div class="clearfix" style="position: relative;">
						<div class="main">
							<div class="table-responsive">
								<table class="table ">
									<thead>
									<tr>
										<th>构件名称</th>
										<th>大类</th>
										<th>小类</th>
										<th>品牌</th>
										<th>型号</th>
										<th>图形</th>
										<th>审核状态</th>
										<th>审核意见</th>
										<th>上传时间</th>
										<th></th>
									</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in auditList">
											<td>{{item.componentName}}</td>
											<td>{{item.largeClass}}</td>
											<td>{{item.smallClass}}</td>
											<td>{{item.brand}}</td>
											<td>{{item.model}}</td>
											<td><img style="width: 66px;height: 66px;" src="{{item.picture}}"></td>
											<td>{{item.status}}</td>
											<td class="btn-lg" data-toggle="modal" data-target="#myModal"><span class="icon-fun"></span></td>
											<td>{{item.updateTime}}</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">审核意见</h4>
							</div>
							<div class="modal-body">
								<textarea style="width: 100%;height: 200px;">暂无</textarea>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary">确定</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<div class="clearfix">
					<ul uib-pagination total-items="bigTotalItems" force-ellipses="true" ng-model="currentPage" first-text="首页"  last-text="尾页" previous-text="上一页"  next-text="下一页" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
					<span>共 {{numPages}} 页 </span>
					<div class="pagination-dump">
						<p class="dump-inp inline"> ,  跳转到   <input type="text" class="form-control inline"> </p>
						<button type="button " class="inline btn btn-default btn-sm" ng-click="getDumpOk()">确定</button>
					</div>
				</div>
			</div>
		</section>
	</article>
	<div class="return-top" ng-click="reTop()"><img src="imgs/icon/icon-top.jpg" alt=""></div>
</div>